---
import {PRONOUNS, SITE_DESCRIPTION, SITE_TITLE} from "../consts";
---
<div class="flex flex-col gap-4 border border-gray-200 rounded p-4 w-fit mx-auto">
  <img class="border border-4s rounded-full self-center p-1" width="152px"
       src="https://avatars.githubusercontent.com/u/48896572?v=4"
       alt="my profile picture">

  <div class="flex flex-col justify-center">
    <div class="flex gap-4 justify-center">
      <h1 class="text-gray-700 text-2xl cursor-default">{SITE_TITLE}</h1>

      <p class="rounded bg-gray-100 px-2 text-gray-500 self-center cursor-default">{PRONOUNS}</p>
    </div>
    <p class="text-gray-500 text-center cursor-default">{SITE_DESCRIPTION}</p>
  </div>

  <div class="flex gap-2 justify-center">
    <a href="mailto:marlalain@icloud.com">
      <span class="text-gray-500 text-2xl icon-[mdi--email]"></span>
    </a>

    <a href="https://github.com/marlalain">
      <span class="text-gray-500 text-2xl icon-[mdi--github]"></span>
    </a>
  </div>
</div>
